# Python cache
__pycache__/
*.py[cod]

# Ortam dosyaları
.env
*.env

# Sanal ortam klasörü (örneğin .venv)
.venv/
venv/

# İndirilen videolar/sesler
Downloads/

# IDE ayarları
.vscode/
.idea/

# Sistem dosyaları
.DS_Store
Thumbs.db

# Log dosyaları
*.log

# Geçici dosyalar
*.tmp
*.bak

# pyinstaller çıktısı 
dist/
build/
*.spec